body {
    font-family: Arial, Helvetica, sans-serif;
}

#app1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 3px solid antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
}

.playerOption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-player1, .in-player2 {
    flex: 1;
    display: flex;
}

.in-player1 {
    justify-content: flex-start;
}

.player1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.player1 p {
    font-weight: bold;
}

.option1 {
    margin: 10px;
    padding: 25px;
    text-align: center;
    width: 50px;
    background-color: bisque;
    font-size: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.option1:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px black;
    background-color: peru;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
}

.in-player2 {
    justify-content: flex-end;
}

.player2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.player2 p {
    font-weight: bold;
}

.option2 {
    margin: 10px;
    padding: 25px;
    text-align: center;
    width: 50px;
    background-color: bisque;
    font-size: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.option2:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px black;
    background-color: peru;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
}

.in-app a {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: bisque;
    width: 50px;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.in-app a:hover {
    background-color: peru;
    box-shadow: 0 4px 4px black;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
}