body {
    font-family: Arial, Helvetica, sans-serif
}

#app {
    height: 100vh;
}

.in-app {
    display: flex
}

.in-app p {
    font-weight: bold;
}

.summary {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 3px solid antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.games {
    display: flex;
    justify-content: center;
    align-items: center;
}
.option {
    margin: 10px 15px;
    padding: 25px;
    text-align: center;
    width: 30%;
    background-color: bisque;
    font-size: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.option:hover {
    box-shadow: 0 4px 4px black;
    cursor: pointer;
    background-color: peru;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
}

#app a {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: bisque;
    width: 50px;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#app a:hover {
    background-color: peru;
    box-shadow: 0 4px 4px black;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
}